* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 10fr;
  background-color: slateblue;
}

nav {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 3rem;
  height: 3rem;
}

.logo {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.logo h2 {
  color: white;
  width: max-content;
}

.search-bar {
  gap: 1rem;
  display: flex;
  max-width: 50rem;
}

.search-bar #searchBar {
  font-size: 20px;
  padding: 0 1rem;
  width: clamp(1rem, 20vw, 20rem)
}

.search-bar #searchBtn {
  padding: .5rem 1rem;
}

.container {
  color: white;
  font-size: 3rem;
  margin: 1rem auto;
  text-align: center;
}

.place, .weather {
  font-weight: bold;
}

.weather {
  font-size: 5rem;
}

@media (max-width: 700px) {

  .logo h2 {
    display: none;
  }

  .search-bar #searchBar {
    width: clamp(1rem, 60vw, 50rem)
  }

}