* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 10fr;
  background-color: slateblue;
}

nav {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 3rem;
  height: 3rem;
}

.container {
  background-color: slategray;
}

.logo {
  gap: 1rem;
  display: flex;
  align-items: center;
}

