* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-rows: 1fr 10fr;
  background-color: seagreen;
}

nav {
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 3rem;
  height: 3rem;
}

button {
  border: none;
  color: white;
  cursor: pointer;
  padding: .5rem 2rem;
  border-radius: 30px;
  background-color: white;
}

.logo {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.logo h2 {
  color: white;
  width: max-content;
}

.search {
  flex: 1;
  gap: 1rem;
  display: flex;
  max-width: 25rem;
}

.search #searchBar {
  flex: 1;
  min-width: 0;
  border: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  max-width: 25rem;
  border-radius: 30px;
  background-color: white;
}

.search #searchBtn {
  padding: 1rem 1rem;
}

.search #searchBtn:hover {
  background-color: rgb(230, 230, 230);
}

.blank {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  margin: 1px auto;
  align-items: start;
  justify-content: center;
}

.container {
  display: flex;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  background-color: rgb(20, 100, 50);
}

#unitBtn {
  margin: 1rem;
  font-size: 2rem;
  background-color: seagreen;
}

#unitBtn:hover {
  background-color: rgb(50, 170, 110);
}

.weather {
  gap: 1rem;
  display: flex;
  font-size: 5rem;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 10rem;
  height: 10rem;
}

.details {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.detail {
  display: flex;
  align-items: center;
}

@media (max-width: 700px) {

  .container,
  .search {
    width: 95%;
  }

  .logo h2 {
    display: none;
  }

  .search #searchBar {
    width: 1rem;
  }

  .place {
    font-size: 2.2rem;
    font-weight: bold;
  }

  .weather {
    gap: unset;
    font-size: 5rem;
  }

  .details {
    font-size: 1.8rem;
  }

}